* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px;
  background-color: #2b2b41;
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 4vh;
  font-family: 'Merriweather', serif;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

form {
  font-family: 'Balsamiq Sans', cursive;
}
.ip {
  padding: 7px;
  outline: none;
  font: inherit;
  border: none;
  border-bottom: 2px solid #ccc;
  color: white;
  background-color: inherit;
  /* width: 100%; */
  /* display: block; */
  margin: 1rem 0;
  height: auto;
  width: auto;
}
.btn {
  color: #2b2b41;
  padding: 12px 40px;
  margin-left: 5px;
  height: auto;
  width: auto;
  font: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(39, 166, 216);
  transition: 0.2s all;
}

.btn:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
}